@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body{
    padding: 0;
    margin: 0;
    position: relative;
}


.header-container {
    width: 100%;
    display: flex;
    padding: 44px 100px 44px 100px;
    /* border: 1px solid black; */
    justify-content: space-between;
    align-items: center;
    /* margin: 0 40px 0 40px; */
    box-sizing: border-box;
    position: sticky; 
    top: 0;
    z-index: 40;
    background-color: #fff;
    transition: all .4s ease-in;
}



.header-container a {
    /* padding: 30px 0 30px 0; */
}


.header-container > a:hover {
    text-shadow: 0px 1px 1px rgba(20,17,17,0.29);
    cursor: pointer;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container a {
    list-style-type: none;
    padding: 16px;
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    color: #393e46;
}

.menu-container a:hover {
    color: darkslategray;
    text-shadow: 0.1px 0.2px 1px rgba(20,17,17,0.29);
}

.menu-container a:active {
    text-decoration: underline;
}

.header-container > a{
    font-family: 'Lobster Two', cursive;
    font-weight:bolder;
    font-size:35px;
    text-decoration: none;
    color: #393e46;
}

.me {
    width:100%;
    /* border: 1px solid black; */
    /* background-color: #01a2a6; */
    height: 604px;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
}

.me > * {
    z-index: 10;
}

.me::before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(/assets/890027.jpg);
    background-position:center;
    background-size: cover;
    object-fit: cover;
    opacity: 0.7;
    position: absolute;
    z-index: 1;
    
}

.me::after {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #01a2a6;
    position: absolute;
}


.me .container-me {
    text-align: left;
    margin-bottom: 40px;
    width: 100%;
}

.container-me h3 {
    padding-bottom: 20px;
    text-align: left;
    
}

.me h3, .me p {
    /* font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    
}

.container-me > p, .container-me h3 {
    font-size: 32px;
}

.me .platform-icons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#desktop-icon {
    margin-right: 200px;
}

.material-icons {
    font-size: 80px;
    color: #fff;
}

.platform-icons {
    margin-top: 20px;
}

.platform-icons div {
    padding: 10px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.platform-icons div:hover {
    transform: scale(1.1)
}

.my-skills {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    padding: 80px 0px 80px 0px;
    background-color: #f4f4f4;
    flex-direction: column;
}

#heading-skills {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 48px;
    color: #333333;
    width: 100%;
    text-align: center;
}

#skills-description {
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    color: #777777;
    width: 100%;
    text-align: center;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

.progress-containers {
    display: flex;
    /* padding-right: 80px;
    padding-left: 80px; */
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.progress-containers .design-progress {
    flex-basis: 40%;
    padding-right: 20px;
    display: block;
    text-align: right;
}

.progress-containers .develop-progress {
    flex-basis: 40%;
    padding-left: 20px;
    display:block;
    text-align:left;
    
}

.develop-progress span, .design-progress span {
    color: #777777;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;
}

.progress {
    margin-bottom: 16px;
}


#design, #develop{    
    font-size: 26px;
}

.my-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 0 80px 0;
    flex-direction: column;
}

.my-projects-description h3 {
    width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 48px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #333333;
}

.my-projects-description p {
    margin-bottom: 64px;
    width: 100%;
    text-align: center;
}

.projects-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 65px;
    padding-right: 50px;
    transition: all 0.2s ease;
}

.projects-container #image-link {
    min-width: 500px;
    max-width: 600px;
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    object-fit: contain;
    background-color: black;
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin: 5px;
    /* transform: scale(1.1) !important; */
    transition: all .5s ease;
}

.projects-container #image-link a img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: contain;
    width: 100%;
    height: 300px;
    z-index: -1;
    cursor: pointer;
}

.projects-container #image-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button-click {
    /* background-position: center; */
    transform: translate3d(0, 125px, 0);
    z-index: 100000;
    background-color: black;
    border: 2px solid white;
    border-radius: 50px;
    padding: 8px 28px 8px 28px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}


.footer {
    padding: 80px 0px 80px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #01a2a6;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.footer .social-icons {
    padding-bottom: 20px;
    /* display: flex; */
}

.footer .social-icons a {
    margin: 20px;
    font-size: 32px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;

}

.footer .social-icons a:hover {
    transform: scale(1.1);
}







